@using FI.AtividadeEntrevista.Utils
@model IEnumerable<FI.WebAtividadeEntrevista.Models.BeneficiarioModel>

<div class="container">
    <table id="gridBeneficiarios" class="table">
        <thead>
            <tr>
                <th>CPF</th>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                foreach (FI.WebAtividadeEntrevista.Models.BeneficiarioModel item in Model)
                {
                    <tr>
                        <td>@item.CPF.FormatarCPF()</td>
                        <td>@item.Nome</td>
                        <td>
                            <input type="button" value="Alterar" class="btn btn-primary" onclick="ModalAlterarBeneficiario(@item.Id, @item.IdCliente, '@item.CPF.FormatarCPF()', '@item.Nome');" />
                            <input type="button" value="Excluir" class="btn btn-primary" onclick="ExcluirBeneficiario(@item.Id);" />
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="text-center"><td colspan="3">Não existem beneficiários cadastrados</td></tr>
            }
        </tbody>
    </table>
</div>